{% extends 'base.html.twig' %}

{% block title %}Modifier Utilisateur : {{ utilisateur.email }}{% endblock %}

{% block body %}
<div class="content-card">
    <h1>Modifier l'Utilisateur : <span style="color: #333;">{{ utilisateur.email }}</span></h1>

    {# inclus le formulaire partagé _form.html.twig #}
    {# on passe 'is_new': false au formulaire via le contrôleur pour gérer le Mp #}
    {{ include('utilisateur/_form.html.twig', {'button_label': 'Mettre à jour l\'utilisateur'}) }}

    <div class="mt-4 d-flex justify-content-between align-items-center">
        <a href="{{ path('app_utilisateur_index') }}" class="btn btn-link">Retour à la liste des utilisateurs</a>
        {{ include('utilisateur/_delete_form.html.twig', {'button_label': 'Supprimer cet utilisateur', 'button_class': 'btn btn-danger'}) }}
    </div>
</div>
{% endblock %}
