{% extends 'base.html.twig' %}

{% block title %}Modifier Catégorie : {{ categorie.nom }}{% endblock %}

{% block body %}
<div class="content-card">
    <h1>Modifier la Catégorie "{{ categorie.nom }}"</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="mt-4 d-flex justify-content-between align-items-center">
        <a href="{{ path('app_categorie_index') }}" class="btn btn-link">Retour à la liste</a>

        {{ include('categorie/_delete_form.html.twig', {'button_label': 'Supprimer', 'button_class': 'btn btn-danger'}) }}
    </div>
</div>
{% endblock %}
